services:
  astroneer:
    build:
      context: .
      tags:
        - whalybird/astroneer-server:latest
        - whalybird/astroneer-server:experimental
    stdin_open: true
    tty: true
    environment:
      DEBUG: false
      DISABLE_ENCRYPTION: false
      CREATE_LAUNCHER_CONFIG: true
      FORCE_CHOWN: false
    ports:
      - 7777:7777/udp
    volumes:
      - ./saved:/astrotux/AstroneerServer/Astro/Saved
      # - ./launcher.toml:/astrotux/launcher.toml
